@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 min-h-screen;
  }
}

:root, * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}